.baggioLogoContainer {
  display: inline-block;
  background: #f3f4f6;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.baggioLogoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
